In [1]:
import pandas as pd
import numpy as np

In [2]:
data= pd.read_csv("metadata_mammalia_global.csv")

In [3]:
data.head(5)

,id,lat,long,observed_on,time_zone,elevation,time,temperature_2m,relativehumidity_2m,dewpoint_2m,...,rain_sum,snowfall_sum,precipitation_hours,sunrise,sunset,windspeed_10m_max,windgusts_10m_max,winddirection_10m_dominant,shortwave_radiation_sum,et0_fao_evapotranspiration_daily
0,128984633,-30.490071,151.639271,2022-08-02 00:40:00+10:00,Australia/Sydney,1000.0,2022-08-02T00:00,7.6,99.0,7.5,...,0.0,0.0,0.0,2022-08-02T07:37,2022-08-02T18:21,12.6,27.0,161.0,14.14,1.91
1,129048796,-38.671312,146.164746,2022-08-02 07:55:55+10:00,Australia/Melbourne,166.0,2022-08-02T07:00,9.7,76.0,5.7,...,0.0,0.0,0.0,2022-08-02T08:15,2022-08-02T18:28,33.4,57.2,132.0,9.59,1.98
2,129051266,43.119623,-7.678884,2022-08-02 00:20:13+02:00,Europe/Madrid,477.0,2022-08-02T00:00,18.1,91.0,16.6,...,0.0,0.0,0.0,2022-08-02T06:20,2022-08-02T20:53,13.5,32.0,51.0,25.69,5.14
3,129054418,50.686439,7.169781,2022-08-02 00:26:13+02:00,Europe/Berlin,65.0,2022-08-02T00:00,17.3,85.0,14.7,...,0.0,0.0,0.0,2022-08-02T04:57,2022-08-02T20:17,11.9,32.0,208.0,19.41,4.47
4,129076855,-40.949812,174.971092,2022-08-02 13:32:23+12:00,Pacific/Auckland,0.0,2022-08-02T13:00,13.3,72.0,8.4,...,0.6,0.0,5.0,2022-08-02T08:24,2022-08-02T18:27,43.9,86.0,131.0,6.93,2.16

In [4]:
data.isnull().sum()

id                                   0
lat                                  0
long                                 0
observed_on                          0
time_zone                            0
elevation                            0
time                                 0
temperature_2m                       0
relativehumidity_2m                  0
dewpoint_2m                          0
apparent_temperature                 0
surface_pressure                     0
precipitation                        0
rain                                 0
snowfall                             0
cloudcover                           0
cloudcover_low                       0
cloudcover_mid                       0
cloudcover_high                      0
shortwave_radiation                  0
direct_radiation                     0
diffuse_radiation                    0
windspeed_10m                        0
windspeed_100m                       0
winddirection_10m                    0
winddirection_100m                   0
windgusts_10m                        0
et0_fao_evapotranspiration_hourly    0
weathercode_hourly                   0
vapor_pressure_deficit               0
soil_temperature_0_to_7cm            0
soil_temperature_7_to_28cm           0
soil_temperature_28_to_100cm         0
soil_moisture_0_to_7cm               0
soil_moisture_7_to_28cm              0
soil_moisture_28_to_100cm            0
weathercode_daily                    0
temperature_2m_max                   0
temperature_2m_min                   0
apparent_temperature_max             0
apparent_temperature_min             0
precipitation_sum                    0
rain_sum                             0
snowfall_sum                         0
precipitation_hours                  0
sunrise                              0
sunset                               0
windspeed_10m_max                    0
windgusts_10m_max                    0
winddirection_10m_dominant           0
shortwave_radiation_sum              0
et0_fao_evapotranspiration_daily     0
dtype: int64

In [5]:
data1= pd.read_csv("observations_mammalia_global.csv")

In [6]:
data1.head()

,id,observed_on,local_time_observed_at,latitude,longitude,positional_accuracy,public_positional_accuracy,image_url,license,geoprivacy,taxon_geoprivacy,scientific_name,common_name,taxon_id
0,128984633,2022-08-02,2022-08-02 00:40:00+10:00,-30.490071,151.639271,11,11,https://static.inaturalist.org/photos/21914219...,NaN,NaN,open,Phascolarctos cinereus,Koala,42983
1,129048796,2022-08-02,2022-08-02 07:55:55+10:00,-38.671312,146.164746,24,24,https://inaturalist-open-data.s3.amazonaws.com...,CC-BY-NC,NaN,open,Wallabia bicolor,Swamp Wallaby,42973
2,129051266,2022-08-02,2022-08-02 00:20:13+02:00,43.119623,-7.678884,8,8,https://inaturalist-open-data.s3.amazonaws.com...,CC-BY,NaN,open,Plecotus auritus,Brown Big-eared Bat,40416
3,129054418,2022-08-02,2022-08-02 00:26:13+02:00,50.686439,7.169781,6,6,https://inaturalist-open-data.s3.amazonaws.com...,CC-BY-NC,NaN,NaN,Erinaceus europaeus,Common Hedgehog,43042
4,129076855,2022-08-02,2022-08-02 13:32:23+12:00,-40.949812,174.971092,5,5,https://inaturalist-open-data.s3.amazonaws.com...,NaN,NaN,open,Arctocephalus forsteri,New Zealand Fur Seal,41752

In [7]:
data1.isnull().sum()

id                                  0
observed_on                         0
local_time_observed_at              0
latitude                            0
longitude                           0
positional_accuracy                 0
public_positional_accuracy          0
image_url                        3984
license                        394746
geoprivacy                    1535972
taxon_geoprivacy               136530
scientific_name                     0
common_name                      2351
taxon_id                            0
dtype: int64

In [8]:
data1.replace('',np.nan, inplace=True)

In [9]:
data1.isnull().sum()

id                                  0
observed_on                         0
local_time_observed_at              0
latitude                            0
longitude                           0
positional_accuracy                 0
public_positional_accuracy          0
image_url                        3984
license                        394746
geoprivacy                    1535972
taxon_geoprivacy               136530
scientific_name                     0
common_name                      2351
taxon_id                            0
dtype: int64

In [10]:
data1.drop('geoprivacy', axis= 1, inplace=True)
data1.drop('taxon_geoprivacy', axis=1, inplace= True)
data1.drop('license',axis=1, inplace= True)

In [11]:
data1.isnull().sum()

id                               0
observed_on                      0
local_time_observed_at           0
latitude                         0
longitude                        0
positional_accuracy              0
public_positional_accuracy       0
image_url                     3984
scientific_name                  0
common_name                   2351
taxon_id                         0
dtype: int64

In [12]:
data1.head()

,id,observed_on,local_time_observed_at,latitude,longitude,positional_accuracy,public_positional_accuracy,image_url,scientific_name,common_name,taxon_id
0,128984633,2022-08-02,2022-08-02 00:40:00+10:00,-30.490071,151.639271,11,11,https://static.inaturalist.org/photos/21914219...,Phascolarctos cinereus,Koala,42983
1,129048796,2022-08-02,2022-08-02 07:55:55+10:00,-38.671312,146.164746,24,24,https://inaturalist-open-data.s3.amazonaws.com...,Wallabia bicolor,Swamp Wallaby,42973
2,129051266,2022-08-02,2022-08-02 00:20:13+02:00,43.119623,-7.678884,8,8,https://inaturalist-open-data.s3.amazonaws.com...,Plecotus auritus,Brown Big-eared Bat,40416
3,129054418,2022-08-02,2022-08-02 00:26:13+02:00,50.686439,7.169781,6,6,https://inaturalist-open-data.s3.amazonaws.com...,Erinaceus europaeus,Common Hedgehog,43042
4,129076855,2022-08-02,2022-08-02 13:32:23+12:00,-40.949812,174.971092,5,5,https://inaturalist-open-data.s3.amazonaws.com...,Arctocephalus forsteri,New Zealand Fur Seal,41752

In [13]:
num_rows, num_columns= data1.shape
print(f"the num of rows {num_rows} and the num of columns {num_columns}")

the num of rows 1648194 and the num of columns 11

In [14]:
data1.dropna(subset= ["image_url"], inplace=True)
data1.head()

,id,observed_on,local_time_observed_at,latitude,longitude,positional_accuracy,public_positional_accuracy,image_url,scientific_name,common_name,taxon_id
0,128984633,2022-08-02,2022-08-02 00:40:00+10:00,-30.490071,151.639271,11,11,https://static.inaturalist.org/photos/21914219...,Phascolarctos cinereus,Koala,42983
1,129048796,2022-08-02,2022-08-02 07:55:55+10:00,-38.671312,146.164746,24,24,https://inaturalist-open-data.s3.amazonaws.com...,Wallabia bicolor,Swamp Wallaby,42973
2,129051266,2022-08-02,2022-08-02 00:20:13+02:00,43.119623,-7.678884,8,8,https://inaturalist-open-data.s3.amazonaws.com...,Plecotus auritus,Brown Big-eared Bat,40416
3,129054418,2022-08-02,2022-08-02 00:26:13+02:00,50.686439,7.169781,6,6,https://inaturalist-open-data.s3.amazonaws.com...,Erinaceus europaeus,Common Hedgehog,43042
4,129076855,2022-08-02,2022-08-02 13:32:23+12:00,-40.949812,174.971092,5,5,https://inaturalist-open-data.s3.amazonaws.com...,Arctocephalus forsteri,New Zealand Fur Seal,41752

In [15]:
num_row, num_columns= data1.shape
print(f" the number of rows {num_rows} and the number of columns {num_columns}")

 the number of rows 1648194 and the number of columns 11

In [16]:
data1.isnull().sum()

id                               0
observed_on                      0
local_time_observed_at           0
latitude                         0
longitude                        0
positional_accuracy              0
public_positional_accuracy       0
image_url                        0
scientific_name                  0
common_name                   2340
taxon_id                         0
dtype: int64

In [17]:
nan_row= data1["common_name"].isnull()
print(nan_row)

0          False
1          False
2          False
3          False
4          False
           ...
1648189    False
1648190    False
1648191    False
1648192    False
1648193    False
Name: common_name, Length: 1644210, dtype: bool

In [18]:
data1.head(1)

,id,observed_on,local_time_observed_at,latitude,longitude,positional_accuracy,public_positional_accuracy,image_url,scientific_name,common_name,taxon_id
0,128984633,2022-08-02,2022-08-02 00:40:00+10:00,-30.490071,151.639271,11,11,https://static.inaturalist.org/photos/21914219...,Phascolarctos cinereus,Koala,42983

In [19]:
print(data1["common_name"].unique)

<bound method Series.unique of 0                                    Koala
1                            Swamp Wallaby
2                      Brown Big-eared Bat
3                          Common Hedgehog
4                     New Zealand Fur Seal
                        ...
1648189    Brown-throated Three-toed Sloth
1648190                           Capybara
1648191              Eurasian Red Squirrel
1648192                               Kudu
1648193              Yellow-bellied Marmot
Name: common_name, Length: 1644210, dtype: object>

In [20]:
data1["common_name"].fillna('unavailable')

0                                    Koala
1                            Swamp Wallaby
2                      Brown Big-eared Bat
3                          Common Hedgehog
4                     New Zealand Fur Seal
                        ...
1648189    Brown-throated Three-toed Sloth
1648190                           Capybara
1648191              Eurasian Red Squirrel
1648192                               Kudu
1648193              Yellow-bellied Marmot
Name: common_name, Length: 1644210, dtype: object

In [21]:
print(data1[["common_name"]].head(10))

                 common_name
0                      Koala
1              Swamp Wallaby
2        Brown Big-eared Bat
3            Common Hedgehog
4       New Zealand Fur Seal
5               Leopard Seal
6                   Platypus
7           Chinese Pangolin
8  Mainland Dusky Antechinus
9                      Koala

In [22]:
data1["common_name"].isnull().sum()

2340

In [23]:
null_common_name= data1[data1["common_name"].isna()]
print(null_common_name)

                id observed_on     local_time_observed_at   latitude  \
895      129328249  2022-08-03  2022-08-03 10:33:16-06:00  40.402528
912      129334266  2022-08-03  2022-08-03 09:52:00-06:00  13.640388
1199     129381138  2022-08-03  2022-08-03 17:59:10-06:00  39.564800
1761     129492091  2022-08-04  2022-08-04 08:46:43-06:00  39.118980
1773     129493506  2022-08-04  2022-08-04 11:43:49-06:00  40.424988
...            ...         ...                        ...        ...
1647029  148012033  2010-07-26  2010-07-26 15:30:09+03:00 -12.371648
1647030  148012034  2010-07-26  2010-07-26 15:26:21+03:00 -12.371648
1647031  148012036  2010-07-26  2010-07-26 15:43:04+03:00 -12.371648
1647409  148301097  2007-09-09  2007-09-09 11:34:00-06:00  40.306241
1647795  148546453  2011-04-24  2011-04-24 16:21:00+03:00 -12.735160

          longitude  ...  public_positional_accuracy  \
895     -105.509828  ...                           5
912      -89.189941  ...                         179
1199    -106.534408  ...                          35
1761    -106.724303  ...                        2863
1773    -105.850630  ...                           4
...             ...  ...                         ...
1647029   43.868600  ...                         154
1647030   43.868600  ...                         154
1647031   43.868600  ...                         154
1647409 -105.689826  ...                       14434
1647795   45.152102  ...                         488

                                                 image_url  \
895      https://inaturalist-open-data.s3.amazonaws.com...
912      https://inaturalist-open-data.s3.amazonaws.com...
1199     https://inaturalist-open-data.s3.amazonaws.com...
1761     https://inaturalist-open-data.s3.amazonaws.com...
1773     https://static.inaturalist.org/photos/22006815...
...                                                    ...
1647029  https://inaturalist-open-data.s3.amazonaws.com...
1647030  https://inaturalist-open-data.s3.amazonaws.com...
1647031  https://inaturalist-open-data.s3.amazonaws.com...
1647409  https://inaturalist-open-data.s3.amazonaws.com...
1647795  https://inaturalist-open-data.s3.amazonaws.com...

                               scientific_name common_name taxon_id
895      Callospermophilus lateralis lateralis         NaN   234727
912               Sciurus variegatoides bangsi         NaN  1405124
1199     Callospermophilus lateralis lateralis         NaN   234727
1761     Callospermophilus lateralis lateralis         NaN   234727
1773     Callospermophilus lateralis lateralis         NaN   234727
...                                        ...         ...      ...
1647029      Pteropus seychellensis comorensis         NaN   337427
1647030      Pteropus seychellensis comorensis         NaN   337427
1647031      Pteropus seychellensis comorensis         NaN   337427
1647409  Callospermophilus lateralis lateralis         NaN   234727
1647795      Pteropus seychellensis comorensis         NaN   337427

[2340 rows x 11 columns]

In [24]:
data1["common_name"]= data1["common_name"].replace("NaN", "unavailable")

In [25]:
data1["common_name"].head(5)

0                   Koala
1           Swamp Wallaby
2     Brown Big-eared Bat
3         Common Hedgehog
4    New Zealand Fur Seal
Name: common_name, dtype: object

In [26]:
data1["common_name"].isnull().sum()

2340

In [27]:
import pandas as pd
data2= pd.read_csv("observations_mammalia_global.csv")

In [28]:
data2.isnull().sum()

id                                  0
observed_on                         0
local_time_observed_at              0
latitude                            0
longitude                           0
positional_accuracy                 0
public_positional_accuracy          0
image_url                        3984
license                        394746
geoprivacy                    1535972
taxon_geoprivacy               136530
scientific_name                     0
common_name                      2351
taxon_id                            0
dtype: int64

In [29]:
data_obs= data2.drop(columns= ["license", "geoprivacy", "taxon_geoprivacy"])

In [30]:
data_obs.dropna(subset="image_url", inplace=True)

In [31]:
data_obs.isnull().sum()

id                               0
observed_on                      0
local_time_observed_at           0
latitude                         0
longitude                        0
positional_accuracy              0
public_positional_accuracy       0
image_url                        0
scientific_name                  0
common_name                   2340
taxon_id                         0
dtype: int64

In [32]:
data3= pd.read_csv("metadata_mammalia_global.csv")

In [33]:
data3.isnull().sum()

id                                   0
lat                                  0
long                                 0
observed_on                          0
time_zone                            0
elevation                            0
time                                 0
temperature_2m                       0
relativehumidity_2m                  0
dewpoint_2m                          0
apparent_temperature                 0
surface_pressure                     0
precipitation                        0
rain                                 0
snowfall                             0
cloudcover                           0
cloudcover_low                       0
cloudcover_mid                       0
cloudcover_high                      0
shortwave_radiation                  0
direct_radiation                     0
diffuse_radiation                    0
windspeed_10m                        0
windspeed_100m                       0
winddirection_10m                    0
winddirection_100m                   0
windgusts_10m                        0
et0_fao_evapotranspiration_hourly    0
weathercode_hourly                   0
vapor_pressure_deficit               0
soil_temperature_0_to_7cm            0
soil_temperature_7_to_28cm           0
soil_temperature_28_to_100cm         0
soil_moisture_0_to_7cm               0
soil_moisture_7_to_28cm              0
soil_moisture_28_to_100cm            0
weathercode_daily                    0
temperature_2m_max                   0
temperature_2m_min                   0
apparent_temperature_max             0
apparent_temperature_min             0
precipitation_sum                    0
rain_sum                             0
snowfall_sum                         0
precipitation_hours                  0
sunrise                              0
sunset                               0
windspeed_10m_max                    0
windgusts_10m_max                    0
winddirection_10m_dominant           0
shortwave_radiation_sum              0
et0_fao_evapotranspiration_daily     0
dtype: int64

In [34]:
are_identical = data_obs.equals(data3)
print("Are the datasets identical? ", are_identical)

Are the datasets identical?  False

In [35]:
inner_join_meta_obs= pd.merge(data_obs, data3, on="id", how= "inner")
print(inner_join_meta_obs)

                id observed_on_x     local_time_observed_at   latitude  \
0        128984633    2022-08-02  2022-08-02 00:40:00+10:00 -30.490071
1        129048796    2022-08-02  2022-08-02 07:55:55+10:00 -38.671312
2        129051266    2022-08-02  2022-08-02 00:20:13+02:00  43.119623
3        129054418    2022-08-02  2022-08-02 00:26:13+02:00  50.686439
4        129076855    2022-08-02  2022-08-02 13:32:23+12:00 -40.949812
...            ...           ...                        ...        ...
1029460   27048430    2019-06-15  2019-06-15 22:25:09-05:00  20.902018
1029461   27048441    2019-06-15  2019-06-15 09:35:59-04:00  42.882510
1029462   27048524    2019-06-15  2019-06-15 15:29:10-06:00  39.883182
1029463   27048585    2019-06-15  2019-06-15 11:29:11+02:00  42.642497
1029464   27049031    2019-06-15  2019-06-15 14:35:24-07:00  37.900778

          longitude  ...  windspeed_10m_max  windgusts_10m_max  \
0        151.639271  ...               12.6               27.0
1        146.164746  ...               33.4               57.2
2         -7.678884  ...               13.5               32.0
3          7.169781  ...               11.9               32.0
4        174.971092  ...               43.9               86.0
...             ...  ...                ...                ...
1029460 -105.394005  ...               13.8               34.9
1029461  -79.030120  ...               30.7               59.8
1029462 -105.775618  ...                6.5               22.3
1029463   -7.136326  ...               10.3               25.9
1029464 -122.269694  ...               18.5               43.6

        winddirection_10m_dominant shortwave_radiation_sum  \
0                            161.0                   14.14
1                            132.0                    9.59
2                             51.0                   25.69
3                            208.0                   19.41
4                            131.0                    6.93
...                            ...                     ...
1029460                      284.0                   25.55
1029461                      218.0                   18.24
1029462                       33.0                   26.67
1029463                      251.0                   17.63
1029464                      237.0                   26.60

        et0_fao_evapotranspiration_daily
0                                   1.91
1                                   1.98
2                                   5.14
3                                   4.47
4                                   2.16
...                                  ...
1029460                             5.00
1029461                             3.47
1029462                             4.24
1029463                             2.96
1029464                             3.95

[1029465 rows x 62 columns]

In [36]:
inner_join_meta_obs.columns

Index(['id', 'observed_on_x', 'local_time_observed_at', 'latitude',
       'longitude', 'positional_accuracy', 'public_positional_accuracy',
       'image_url', 'scientific_name', 'common_name', 'taxon_id', 'lat',
       'long', 'observed_on_y', 'time_zone', 'elevation', 'time',
       'temperature_2m', 'relativehumidity_2m', 'dewpoint_2m',
       'apparent_temperature', 'surface_pressure', 'precipitation', 'rain',
       'snowfall', 'cloudcover', 'cloudcover_low', 'cloudcover_mid',
       'cloudcover_high', 'shortwave_radiation', 'direct_radiation',
       'diffuse_radiation', 'windspeed_10m', 'windspeed_100m',
       'winddirection_10m', 'winddirection_100m', 'windgusts_10m',
       'et0_fao_evapotranspiration_hourly', 'weathercode_hourly',
       'vapor_pressure_deficit', 'soil_temperature_0_to_7cm',
       'soil_temperature_7_to_28cm', 'soil_temperature_28_to_100cm',
       'soil_moisture_0_to_7cm', 'soil_moisture_7_to_28cm',
       'soil_moisture_28_to_100cm', 'weathercode_daily', 'temperature_2m_max',
       'temperature_2m_min', 'apparent_temperature_max',
       'apparent_temperature_min', 'precipitation_sum', 'rain_sum',
       'snowfall_sum', 'precipitation_hours', 'sunrise', 'sunset',
       'windspeed_10m_max', 'windgusts_10m_max', 'winddirection_10m_dominant',
       'shortwave_radiation_sum', 'et0_fao_evapotranspiration_daily'],
      dtype='object')

In [37]:
inner_join_meta_obs.head(2)

,id,observed_on_x,local_time_observed_at,latitude,longitude,...,windspeed_10m_max,windgusts_10m_max,winddirection_10m_dominant,shortwave_radiation_sum,et0_fao_evapotranspiration_daily
0,128984633,2022-08-02,2022-08-02 00:40:00+10:00,-30.490071,151.639271,...,12.6,27.0,161.0,14.14,1.91
1,129048796,2022-08-02,2022-08-02 07:55:55+10:00,-38.671312,146.164746,...,33.4,57.2,132.0,9.59,1.98

In [38]:
data1.describe()

,id,latitude,longitude,positional_accuracy,public_positional_accuracy,taxon_id
count,1.644210e+06,1.644210e+06,1.644210e+06,1.644210e+06,1.644210e+06,1.644210e+06
mean,7.341639e+07,2.972396e+01,-5.711342e+01,7.795853e+02,4.678082e+03,1.136595e+05
std,4.265054e+07,2.432670e+01,7.273031e+01,2.337296e+03,1.003836e+04,2.149009e+05
min,1.007000e+03,-7.873662e+01,-1.799986e+02,0.000000e+00,0.000000e+00,4.015500e+04
25%,3.640729e+07,2.859903e+01,-1.063213e+02,9.000000e+00,1.000000e+01,4.222000e+04
50%,7.112349e+07,3.791221e+01,-8.156075e+01,4.300000e+01,6.500000e+01,4.346000e+04
75%,1.090811e+08,4.400531e+01,-4.003628e+00,2.440000e+02,1.002000e+03,4.621700e+04
max,1.489014e+08,8.435484e+01,1.798129e+02,1.999900e+04,3.145100e+04,1.435993e+06

In [39]:
data.describe()

,id,lat,long,elevation,temperature_2m,...,windspeed_10m_max,windgusts_10m_max,winddirection_10m_dominant,shortwave_radiation_sum,et0_fao_evapotranspiration_daily
count,1.032896e+06,1.032896e+06,1.032896e+06,1.032896e+06,1.032896e+06,...,1.032896e+06,1.032896e+06,1.032896e+06,1.032896e+06,1.032896e+06
mean,9.371118e+07,3.213113e+01,-5.997144e+01,4.221572e+02,1.669687e+01,...,1.617393e+01,3.573203e+01,1.920370e+02,1.803031e+01,3.450179e+00
std,3.224060e+07,2.292348e+01,7.017431e+01,6.333550e+02,9.042960e+00,...,6.651193e+00,1.213990e+01,9.699175e+01,7.496042e+00,1.778855e+00
min,2.434664e+07,-7.784559e+01,-1.798028e+02,-4.270000e+02,-3.990000e+01,...,1.500000e+00,7.900000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,6.721567e+07,3.113880e+01,-1.057657e+02,4.700000e+01,1.110000e+01,...,1.140000e+01,2.700000e+01,1.170000e+02,1.246000e+01,2.090000e+00
50%,9.629267e+07,3.900547e+01,-8.150886e+01,1.810000e+02,1.750000e+01,...,1.500000e+01,3.380000e+01,2.030000e+02,1.859000e+01,3.370000e+00
75%,1.208170e+08,4.452206e+01,-5.612703e+01,4.320000e+02,2.340000e+01,...,1.980000e+01,4.250000e+01,2.690000e+02,2.399000e+01,4.670000e+00
max,1.486865e+08,8.389204e+01,1.798129e+02,7.099000e+03,4.980000e+01,...,7.930000e+01,1.386000e+02,3.600000e+02,3.672000e+01,1.626000e+01

In [40]:
data_obs.describe()

,id,latitude,longitude,positional_accuracy,public_positional_accuracy,taxon_id
count,1.644210e+06,1.644210e+06,1.644210e+06,1.644210e+06,1.644210e+06,1.644210e+06
mean,7.341639e+07,2.972396e+01,-5.711342e+01,7.795853e+02,4.678082e+03,1.136595e+05
std,4.265054e+07,2.432670e+01,7.273031e+01,2.337296e+03,1.003836e+04,2.149009e+05
min,1.007000e+03,-7.873662e+01,-1.799986e+02,0.000000e+00,0.000000e+00,4.015500e+04
25%,3.640729e+07,2.859903e+01,-1.063213e+02,9.000000e+00,1.000000e+01,4.222000e+04
50%,7.112349e+07,3.791221e+01,-8.156075e+01,4.300000e+01,6.500000e+01,4.346000e+04
75%,1.090811e+08,4.400531e+01,-4.003628e+00,2.440000e+02,1.002000e+03,4.621700e+04
max,1.489014e+08,8.435484e+01,1.798129e+02,1.999900e+04,3.145100e+04,1.435993e+06

In [41]:
data3.describe()

,id,lat,long,elevation,temperature_2m,...,windspeed_10m_max,windgusts_10m_max,winddirection_10m_dominant,shortwave_radiation_sum,et0_fao_evapotranspiration_daily
count,1.032896e+06,1.032896e+06,1.032896e+06,1.032896e+06,1.032896e+06,...,1.032896e+06,1.032896e+06,1.032896e+06,1.032896e+06,1.032896e+06
mean,9.371118e+07,3.213113e+01,-5.997144e+01,4.221572e+02,1.669687e+01,...,1.617393e+01,3.573203e+01,1.920370e+02,1.803031e+01,3.450179e+00
std,3.224060e+07,2.292348e+01,7.017431e+01,6.333550e+02,9.042960e+00,...,6.651193e+00,1.213990e+01,9.699175e+01,7.496042e+00,1.778855e+00
min,2.434664e+07,-7.784559e+01,-1.798028e+02,-4.270000e+02,-3.990000e+01,...,1.500000e+00,7.900000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,6.721567e+07,3.113880e+01,-1.057657e+02,4.700000e+01,1.110000e+01,...,1.140000e+01,2.700000e+01,1.170000e+02,1.246000e+01,2.090000e+00
50%,9.629267e+07,3.900547e+01,-8.150886e+01,1.810000e+02,1.750000e+01,...,1.500000e+01,3.380000e+01,2.030000e+02,1.859000e+01,3.370000e+00
75%,1.208170e+08,4.452206e+01,-5.612703e+01,4.320000e+02,2.340000e+01,...,1.980000e+01,4.250000e+01,2.690000e+02,2.399000e+01,4.670000e+00
max,1.486865e+08,8.389204e+01,1.798129e+02,7.099000e+03,4.980000e+01,...,7.930000e+01,1.386000e+02,3.600000e+02,3.672000e+01,1.626000e+01